.product-browser {
    padding: 1rem 2rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-browser h2 {
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .product-card {
    flex: 1 1 200px;
    border-radius: 8px;
    padding: 1rem;
    background-color: #141414;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .product-card h3 {
    margin-top: 0;
  }
  
  .product-card button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #ffffff;
    border: #fff700 1px solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #fff700;
    color: #000000;
  }
  
  .product-card img {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    margin-bottom: 1rem;
    border-radius: 8px;
    border:#fff700 1px solid;
  }

  .product-card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  /* Category filter */

  .category-filter {
    margin-bottom: 1rem;
  }
  
  .category-filter button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #1c1c1c;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
  }
  
  .category-filter button.active {
    background-color: #fff700;
    color: rgb(0, 0, 0);
  }

  .category-filter button:hover {
    background-color: #fff700;
    color: rgb(0, 0, 0);
  }
  